---
import FooterSidebar from './FooterSidebar.astro';
import LayoutCommon from './LayoutCommon.astro';
import NavBarSidebar from './NavBarSidebar.astro';
import SideBar from './SideBar.astro';
---

<LayoutCommon>
	<NavBarSidebar />

	<SideBar />

	<div class="flex pt-16 overflow-hidden bg-zinc-50 dark:bg-zinc-900">
		<div
			id="main-content"
			class="relative w-full h-full overflow-y-auto bg-zinc-50 lg:ml-64 dark:bg-zinc-900 min-h-screen"
		>
			<slot />

			<FooterSidebar />
		</div>
	</div>
</LayoutCommon>
