---
import { asset, url } from '../lib/data.js';
---

<nav
	class="fixed z-50 w-full bg-white border-b border-gray-200 sm:py-2 dark:bg-zinc-800 dark:border-gray-700"
>
	<div class="container py-3 mx-auto">
		<div class="flex items-center justify-between">
			<div class="flex items-center justify-start">
				<a href={url()} class="flex mr-4">
					<img
						src={asset('logo.svg')}
						class="h-8 mr-3"
						alt="VCO GROUP logo"
					/>
					<span
						class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
						>Test Center</span
					>
				</a>
				
			</div>

			<!-- <div>
				<a
					href="#"
					class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
				>
					<svg
						class="w-5 h-5 mr-2 -ml-1"
						fill="none"
						stroke="currentColor"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
						></path>
					</svg>
					Login/Register
				</a>
				
			</div> -->
		</div>
	</div>
	<!-- Mobile menu -->
	<div class="hidden sm:hidden" id="mobile-menu">
		<ul class="pt-2">
			<li>
				<a
					href="#"
					class="block py-2 pl-3 pr-4 text-base font-normal text-gray-900 bg-zinc-100 dark:bg-zinc-700 dark:text-white"
					>Dashboard</a
				>
			</li>
			<li>
				<a
					href="#"
					class="block px-3 py-2 text-base font-normal text-gray-600 border-b border-gray-100 hover:bg-zinc-50 hover:border-gray-300 hover:text-gray-900 dark:border-gray-700 dark:hover:bg-zinc-700 dark:text-gray-400 dark:hover:text-white"
					>Team</a
				>
			</li>
			<li>
				<a
					href="#"
					class="block px-3 py-2 text-base font-normal text-gray-600 border-b border-gray-100 hover:bg-zinc-50 hover:border-gray-300 hover:text-gray-900 dark:border-gray-700 dark:hover:bg-zinc-700 dark:text-gray-400 dark:hover:text-white"
					>Projects</a
				>
			</li>
			<li>
				<a
					href="#"
					class="block px-3 py-2 text-base font-normal text-gray-600 border-b border-gray-100 hover:bg-zinc-50 hover:border-gray-300 hover:text-gray-900 dark:border-gray-700 dark:hover:bg-zinc-700 dark:text-gray-400 dark:hover:text-white"
					>Calendar
				</a>
			</li>
			<li class="block">
				<a
					href="#"
					class="inline-flex items-center w-full px-3 py-2 text-base font-normal text-gray-600 hover:bg-zinc-50 hover:border-gray-300 hover:text-gray-900 dark:border-gray-700 dark:hover:bg-zinc-700 dark:text-gray-400 dark:hover:text-white"
				>
					<svg
						class="w-5 h-5 mr-2"
						fill="none"
						stroke="currentColor"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
						></path>
					</svg>
					Login/Register
				</a>
			</li>
		</ul>
	</div>
</nav>
